.education-container {
    width: 300px;
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.education-container h2 {
    align-self: center;
}

.education-container span {
    text-decoration: none;
}

.education-container a {
    text-decoration: none;
    color: rgba(0,0,0, 0.7);
}